.main-window {
    border-top-right-radius:    15px;
    border-bottom-right-radius: 15px;

}

/*------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------BRIGHTNESS-----------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/

.brightness-widget-label {
    font-size:   30px;
    font-family: bold;

    color:      #f9e2af;
    background: #313244;

    border-top-right-radius:    15px;
    border-bottom-right-radius: 15px;
}

.brightness-widget-container {
    margin-right:  3px;
    margin-bottom: 5px;
}

/*------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------VOLUME-------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/

.volume-widget-label {
    font-size:   30px;
    font-family: bold;
    
    color:      #74c7ec;
    background: #313244;

    border-top-right-radius:    15px;
    border-bottom-right-radius: 15px;
}

.volume-widget-container {
    margin-right: 3px;
}

/*------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------WORKSPACES-----------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/

.hyprland-workspaces-widget-container {
    margin-right: 3px;
}

.hyprland-workspaces-widget-button {
    font-size:   20px;
    font-family: "ProFontWindows Nerd Font Propo";
    font-family: bold;
    
    color:      #a6adc8;
    background: #313244;

    padding-left:  10px;
    padding-right: 5px;

    border-top-right-radius:    8px;
    border-bottom-right-radius: 8px;
}

.hyprland-workspaces-widget-picked {
    font-size: 30px;

    color: #cba6f7;
}

/*------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------TIME--------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/


.time-widget {
    background: #313244;
    color:      #cba6f7;
    
    border-top-right-radius:    10px;
    border-bottom-right-radius: 10px;

    margin-top: 10px;

    font-size:   30px;
    font-family: "ProFontWindows Nerd Font Propo";
    font-weight: bold;

    padding: 5px;
}

button {
    background-image: none;
}
