.main-window {
    border-top-right-radius:    15px;
    border-bottom-right-radius: 15px;

}

/*------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------BRIGHTNESS-----------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/

.brightness-widget-label {
    font-size:   30px;
    font-family: bold;

    color:      #f9e2af;
    background: #313244;

    border-top-right-radius:    15px;
    border-bottom-right-radius: 15px;
}

.brightness-widget-container {
    margin-right:  3px;
    margin-bottom: 5px;
}

/*------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------VOLUME-------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/

.volume-widget-label {
    font-size:   30px;
    font-family: bold;
    
    color:      #74c7ec;
    background: #313244;

    border-top-right-radius:    15px;
    border-bottom-right-radius: 15px;
}

.volume-widget-container {
    margin-right: 3px;
}

/*------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------WORKSPACES-----------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/

.hyprland-workspaces-widget-container {
    margin-left:  5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.hyprland-workspaces-widget-button {
}

/*------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------TIME--------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------*/


.time-widget {
    background: #313244;
    color: #cba6f7;
    
    border-top-right-radius:    10px;
    border-bottom-right-radius: 10px;

    margin-top:   10px;
    /*margin-right: 20px;*/

    font-size:   30px;
    font-family: "ProFontWindows Nerd Font Propo";
    font-weight: bold;

    padding: 5px;
}

button {
    background-image: none;
}
